<h1>Lista de desarrolladores</h1>
<div>
  <%= link_to 'crear nuevos desarrolladores', new_developer_path %>
</div>
<table>
  <th>
    <tr>
      <td>SOID</td>
      <td>Name</td>
    </tr>
  </th>
  <% @developers.each do |developer| %>
    <tr>
      <td><%= developer.soid%></td>
      <td><%= developer.name%></td>
      <td><%= link_to 'Show', developer %></td>
      <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
      <td><%= link_to 'Delete', developer_path(developer), method: :delete %></td>
    </tr>
  <% end %>
</table>
<div><%= link_to 'volver al menu principal', root_path %></div>
