<%= form_for @developer do |f| %>
  <div>
    <%= f.label :soid %></br>
    <%= f.text_field :soid %>
  </div>
  <div>
  <%= f.label :name %></br>
  <%= f.text_field :name %>
  </div>
  <%= f.submit %>
<% end %>
