<%= form_for @mrf do |f| %>
  <div>
    <%= f.label :mrf_number %></br>
    <%= f.text_field :mrf_number %>
  </div>
  <div>
    <%= f.label :description %></br>
    <%= f.text_field :description %>
  </div>
  <div>
    <!-- <%= f.label :developer %></br>
    <%= f.text_field :developer %> -->
    <!--<% developers_array = @developers.map{ |dev| [dev.name, dev.id] } %>-->
    <!-- <%= f.select :developer_id, options_for_select(developers_array) %> -->
    <%= f.label :developer_id %></br>
    <%= f.select :developer_id, options_from_collection_for_select(@developers, :soid, :name, @mrf.developer_id) %>

  </div>
  <div class="field">
    <%= f.label :pss_id %></br>
    <%= f.select :pss_id, options_from_collection_for_select(@psses, :id, :name, @mrf.pss_id) %>
  </div>
  <div>
    <%= f.label :asset_updates %></br>
    <%= f.text_field :asset_updates %>
  </div>
  <div>
    <%= f.label :defect_counter %></br>
    <%= f.text_field :defect_counter %>
  </div>
  <div>
    <%= f.label :moved %></br>
    <%= f.check_box :moved %>
  </div>
  <%= f.submit %>
<% end %>
