<%= form_for @mrf do |f| %>
  <div>
    <%= f.label :description %></br>
    <%= f.text_field :description %>
  </div>
  <div>
  <%= f.label :hours %></br>
  <%= f.text_field :hours %>
  </div>
  <%= f.submit %>
<% end %>
