<h1>Mrves#index</h1>
<div>
  <%= link_to 'crear nuevos Mrfs', new_mrf_path %>
</div>
<table>
  <th>
    <tr>
      <td>MRF #</td>
      <td>Descripción</td>
      <td>Desarrollador</td>
      <td>PSS</td>
      <td>Horas</td>
    </tr>
  </th>
  <% @mrfs.each do |mrf| %>
    <tr>
      <td><%= mrf.mrf_number%></td>
      <td><%= mrf.description%></td>
      <td><%= mrf.developer%></td>
      <td><%= mrf.pss.name%></td>
      <td><%= mrf.hours%></td>
      <td><%= link_to 'Show', mrf %></td>
      <td><%= link_to 'Edit', edit_mrf_path(mrf) %></td>
      <td><%= link_to 'Delete', mrf_path(mrf), method: :delete %></td>
    </tr>
  <% end %>
</table>
