<h1>MRF Information</h1>
<p>Número: <%= @mrf.mrf_number %></p>
<p>Descripción: <%= @mrf.description %></p>
<p>Desarrollador: <%= @mrf.developer %></p>
<p>PPS: <%= @mrf.pss.name %></p>
<p>Horas: <%= @mrf.hours %></p>

<%= link_to "regresar al listado", mrves_path %>
